<!doctype html>
<html >

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>

<body>
  {{> header}}

  <h1>{{screamIt title}}</h1>
  <p>{{desc}}</p>



    {{> footer}}


</body>
</html>
