<!doctype html>
<html >

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>

<body>
  {{> header}}

  <h1>{{screamIt title}}</h1>
  <p>{{desc}}</p>

  <a href="/" style="color:blue"><p>Home</p></a>
  <a href="/about" style="color:green"><p>About</p></a>
  <a href="/projects" style="color:pink"><p>Projects</p></a>


    {{> footer}}


</body>
</html>
